.landing-title {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: black;
}

.landing-subtitle {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    color: #666;
}
