// Body
//$body-bg: #f8fafc;
$body-bg: #f1efef;

// Typography
$font-family-sans-serif: -apple-system, Ubuntu, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.2rem;
$line-height-base: 1.6;

$body-color:#314e52;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #314e52;

$border-radius: 0;
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius;
$card-border-radius: $border-radius;
$navbar-light-color:black;
